From: Einkauf <einkauf@example.com>
To: Vertrieb <vertrieb@example.org>
Subject: Anfrage Flansche DN 100 (E2E)
Message-ID: <e2e-PLACEHOLDER@example.com>
Date: Wed, 23 Sep 2026 08:00:00 +0200
Content-Type: text/plain; charset=utf-8

Musterbau Beispiel GmbH
Ansprechpartnerin: Erika Beispiel
Liefertermin: 15.10.2026
